@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'don_josbigote';
    src: url('fonts/don-jose-bigote-webfont.woff2') format('woff2'),
         url('fonts/don-jose-bigote-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    font-family: 'robotobold';
    font-size: 20px;
    color: #fff;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    background: #111037;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
section .content{
    width: 100%;
    height: 80%;
    position: relative;
    float: left;
}
.container{
    width: 100%;
    height: 100%;
    display: block;
    padding: 6rem 10rem;
}
#home .container,
#select-pets .container,
.select-pet-options .container{
    padding: 7rem 10rem;
}
.center{
    text-align: center;
}
.font-bigote{
    font-family: 'don_josbigote';
    font-size: 6rem;
    line-height: 6rem;
    color: #E4E6FF;
}
.hide-section{
    display: none!important;
}
.show-section{
    display: block!important;
}
.hide:not(section.pet-dogs .description p, section.pet-cats .description p) {
    display: none;
}
.show:not(section.pet-dogs .description p, section.pet-cats .description p) {
    display: block;
}
button, .btn {
    cursor: pointer;
}
.btn-back, .btn-finish {
    width: 26rem;
    height: 7rem;
    bottom: 5rem;
    font-size: 2.5rem;
    color: #fff;
    border: 1px solid #00c0ea;
    box-shadow: 0 0 45px -7px #00c0ea;
    border-radius: 5rem;
    position: absolute;
}
.btn-back {
    left: 0;
    background: #111037;
}
.btn-finish{
    left: 28rem;
    background: rgb(39,55,148);
    background: linear-gradient(90deg, rgba(39,55,148,1) 0%, rgba(0,192,234,1) 100%);
    display: none;
}
.btn-finish.active{
    display: block;
}
#cover{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #111037;
    transition: .4s all ease;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
}
#cover.show{
    opacity: 1;
}

/* VIDEOS */
video {
    width: 100%;
}
/* VIDEOS */

/* MOHE */
#home .wrapper-text-home {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
#home .wrapper-text-home:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: url(img/bg-home.png) no-repeat center;
    background-size: cover;
    z-index: -1;
}
#home .slogan{
    width: 80rem;
    font-size: 2.5rem;
    display: inline-block;
}
#home .logo-dueno-de-ti img{
    width: 65rem;
    margin: 5rem 0;
    transition: .5s all ease;
}
#video-initial{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}
#home #btn-enter{
    width: 32rem;
    height: 8rem;
    font-size: 3rem;
    color: #fff;
    background: rgb(39,55,148);
    background: linear-gradient(90deg, rgba(39,55,148,1) 0%, rgba(0,192,234,1) 100%);
    border: 1px solid #00c0ea;
    box-shadow: 0 0 70px -5px #00c0ea;
    border-radius: 4rem;
    animation: moveButton 3s infinite;
    position: relative;
}
#home .logo-italcol-chunky img{
    width: 23rem;
    margin: 6rem 0 0;
}
@keyframes moveButton {
    from {transform: scale(1);}
    50% {transform: scale(1.1); !important;} /* ignored */
    to {transform: scale(1);}
}
/* MOHE */

/* SELECT PET */
#select-pets{
    background: url(img/bg-blue-texture.png) no-repeat center;
    background-size: cover;
}
#select-pets .logo-chunky img{
    width: 57rem;
}
#select-pets .question{
    width: 50rem;
    display: block;
    margin: 10rem auto;
}
#select-pets .pet-option {
    width: 38rem;
    top: 0rem;
    position: absolute;
    cursor: pointer;
}
#select-pets .pet-option.dog-option{
    right: 65%;
}
#select-pets .pet-option.cat-option{
    left: 65%;
}
#select-pets .pet-option span {
    font-size: 8rem;
    margin-top: -8rem;
    display: block;
}
#select-pets .pet-option.dog-option span {
    color: #FCD3AC;
}
#select-pets .pet-option.cat-option span{
    color: #B3BCFF;
}
.logo-italcol {
    width: 20rem;
    bottom: 5rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 7rem);
}
.pet-illustration{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 1s all ease;
}
.pet-illustration.show{
    opacity: 1;
    visibility: visible;
}
.pet-illustration.cat{
    background: url(img/bg-select-cat.jpg) no-repeat center;
    background-size: cover;
}
.pet-illustration.dog{
    background: url(img/bg-select-dog.jpg) no-repeat center;
    background-size: cover;
}
/* SELECT PET */

/* CATEGORY PETS */
.select-pet-options .category-title img{
    width: 84rem;
}
.select-pet-options .option-list{
    margin-top: 5rem;
}
.select-pet-options .option-list li{
    width: 38rem;
    display: inline-block;
    margin: 0 2rem;
}
.select-pet-options .logo-italcol {
    transform: translate(-50%, 0);
}
/* CATEGORY PETS */

/* CATEGORY DOG */
#select-dog-options{
    background: url(img/bg-dog-texture.png) no-repeat center;
    background-size: cover;
}
/* CATEGORY DOG */

/* CATEGORY CAT */
#select-cat-options{
    background: url(img/bg-cat-texture.png) no-repeat center;
    background-size: cover;
}
#select-cat-options .option-list li{
    margin: 0 10rem;
}
/* CATEGORY CAT */

/* ///////////// */

/* PETS DOGS */
section.pet-dogs {
    background: url(img/bg-dog-texture.png) no-repeat center;
    background-size: cover;
}
section.pet-dogs .col, section.pet-cats .col {
    float: left;
    height: 100%;
}
section.pet-dogs .col-left, section.pet-cats .col-left {
    width: 30%;
}
section.pet-dogs .col-right, section.pet-cats .col-right {
    width: 60%;
    margin-left: 10%;
    position: relative;
}
section.pet-dogs .col-right p, section.pet-cats .col-right p{
    font-size: 1.65rem;
    text-align: center;
    line-height: 1.7rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    background: #ffba00;
    height: auto;
    border-radius: 1.5rem;
    color: #111037;
}
section.pet-dogs .col-right .logo-italcol, section.pet-cats .col-right .logo-italcol{
    right: 0;
    left: initial;
    bottom: 5rem;
    transform: none;
}
section.pet-dogs .description,
section.pet-cats .description {
    color: #FFF5C5;
    font-size: 1.9rem;
    text-align: center;
    margin: 1rem 0 0;
    position: relative;
    height: 20rem;
}
section.pet-dogs .description p,
section.pet-cats .description p{
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    padding: 3rem 2rem;
    border-radius: 2rem 2rem 0 0;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 1s;
    transform-style: preserve-3d;
    font-family: 'robotoregular';
}
section.pet-dogs .description p b,
section.pet-cats .description p b{
    font-family: 'robotobold';
}
section.pet-dogs .description p.red{
    background: #ff0c00;
}
section.pet-dogs .description p.orange-1{
    background: #ff4800;
}
section.pet-dogs .description p.orange-2{
    background: #ff8500;
    color: #020d44;
}
section.pet-dogs .description p.yellow-1{
    background: #f2cc2c;
    color: #020d44;
}
section.pet-dogs .description p.yellow-2{
    background: #f6ff45;
    color: #020d44;
}
section.pet-cats .description p.blue-1{
    background: #07518e;
}
section.pet-cats .description p.blue-2{
    background: #0093e5;
    color: #020d44;
}
section.pet-cats .description p.blue-3{
    background: #00e2d1;
    color: #020d44;
}
section.pet-cats .description p.green-1{
    background: #00e095;
    color: #020d44;
}
section.pet-cats .description {
    color: #C7EFFF;
}
section.pet-dogs .description p.show,
section.pet-cats .description p.show{
    transform: rotateY(0deg);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
.wrapper-products-list {
    width: 100%;
    height: auto;
    max-height: 45rem;
    background: rgba(255, 245, 197, 0.3);
    /* border: 5px solid #B75402; */
    padding: 2rem 3rem;
    border-radius: 0 0 2rem 2rem;
    margin-bottom: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
}
section.pet-cats .wrapper-products-list {
    border: 5px solid #042FB5;
}
.wrapper-products-list li {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: 1px solid #111037;
}
.wrapper-products-list li:first-child{
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.wrapper-products-list li.no-border {
    border-top: none;
}
.open-modal-snacks {
    width: 100%;
    height: 8rem;
    color: #FFF5C5;
    font-size: 3.9rem;
    line-height: 9rem;
    background: #FF7A00;
    border-radius: 4rem;
}
.pet-tabs{
    text-align: center;
}
.pet-tabs li{
    width: 18rem;
    display: inline-block;
    opacity: 0.3;
    margin: 0 2rem;
    vertical-align: top;
    cursor: pointer;
}
.pet-tabs li.active {
    opacity: 1;
}
.pet-content {
    padding: 5rem;
}

#section-dog-pequeno-adulto .wrapper-products-list{
    padding: 5rem 3rem;
}
#section-dog-pequeno-adulto .pet-tabs li,
#section-dog-adulto-grande .pet-tabs li,
#section-dog-adulto-mayor .pet-tabs li{
    width: 16rem;
    margin: 0 1rem;
}
#section-dog-pequeno-adulto .pet-content,
#section-dog-adulto-mayor .pet-content,
section.pet-cats .pet-content{
    padding: 5rem 15rem;
}

.link-category-dog{
    right: 0;
    width: 10rem;
    position: absolute;
    background: none;
    border: none;
}
#btn-dog-grande-adulto,
#btn-dog-pequeno-adulto{
    bottom: 50.5%;
}
#btn-dog-adulto-mayor,
#section-dog-adulto-mayor #btn-dog-grande-adulto{
    top: 50.5%;
}

#section-dog-adulto-grande .open-modal-snacks{
    color: #111037;
    background: #FFBC00;
}
#section-dog-adulto-mayor .open-modal-snacks{
    color: #111037;
    background: #FF9D00;
}
#section-cat-adulto.pet-cats .open-modal-snacks{
    color: #111037;
    background: #195ADD;
}
#section-cat-cachorro.pet-cats .open-modal-snacks{
    color: #111037;
    background: #71A8FF;
}
/* PETS DOGS*/

/* PETS CATS */
section.pet-cats {
    background: url(img/bg-cat-texture.png) no-repeat center;
    background-size: cover;
}
/* PETS CATS */

/* QR */
#section-qr {
    background: url(img/bg-home.png) no-repeat center;
    background-size: cover;
}
#section-qr .slogan{
    width: 100%;
    font-size: 3rem;
    display: inline-block;
}
#section-qr .logo-dueno-de-ti img{
    width: 25rem;
    position: absolute;
    bottom: 7rem;
    right: 5rem;
}
#section-qr #btn-again{
    width: 45rem;
    height: 8rem;
    font-size: 2.5rem;
    color: #fff;
    background: rgb(39,55,148);
    background: linear-gradient(90deg, rgba(39,55,148,1) 0%, rgba(0,192,234,1) 100%);
    border: 1px solid #00c0ea;
    box-shadow: 0 0 70px -5px #00c0ea;
    border-radius: 5rem;
    animation: moveButton 3s infinite;
    position: relative;
}
#section-qr .logo-italcol-chunky img{
    width: 25rem;
    margin: 0;
}
#section-qr .col{
    width: 50%;
    height: 85%;
    float: left;
}
#section-qr .col.col-left{
    padding: 20rem 10rem;
}
#section-qr .wrapper-qr{
    width: 55rem;
    height: 55rem;
    background: #fff;
    display: inline-block;
    transform: translate(0, 15%);
    border-radius: 5rem;
    padding: 3rem;
}
#section-qr .wrapper-qr img{
    width: 100%;
    height: auto;
}
#section-qr h2.font-bigote{
    font-size: 10rem;
    line-height: 10rem;
    margin-bottom: 2rem;
}
#section-qr p{
    font-size: 2.5rem;
}
#section-qr .logo-italcol-chunky{
    text-align: left;
    position: absolute;
    left: 5rem;
    bottom: 6rem;
}
/* QR */

/* MODAL SNACKS*/
#section-snacks{
    visibility: hidden;
}
#section-snacks.show{
    visibility: visible;
}
#section-snacks:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #111037;
    opacity: 0.7;
}
#section-snacks .wrapper-modal{
    top: 40%;
    left: 50%;
    width: 400px;
    height: auto;
    background: #FFF5C5;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: .5s all ease;
    border-radius: 3rem;
    border: 3px solid #042FB5;
    padding: 2rem;
    opacity: 0;
}
#section-snacks.show .wrapper-modal{
    top: 50%;
    opacity: 1;
}
#section-snacks .wrapper-modal .close-modal{
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: url(img/close-modal.svg) center no-repeat;
    background-size: 50%;
    background-color: #0076C0;
    top: -2rem;
    right: -2rem;
}
#section-snacks .wrapper-modal .tabs-modal,
#section-snacks .wrapper-modal .content-modal{
    width: 100%;
    float: left;
}
#section-snacks .wrapper-modal .tabs-modal > div{
    width: 33.333%;
    text-align: center;
    padding: 1.5rem 2rem;
    font-family: 'don_josbigote';
    font-size: 1.7rem;
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    float: left;
}
#section-snacks .tabs-modal > div.active{
    color: #fff;
}
#section-snacks .cat .tabs-modal > div{
    background: #30308C;
}
#section-snacks .cat .tabs-modal > div:first-child{
    background: #1B1B56;
}
#section-snacks .cat .tabs-modal > div:last-child{
    background: #4B4BAA;
}
#section-snacks .dog .tabs-modal > div{
    background: #FFBA00;
}
#section-snacks .dog .tabs-modal > div:first-child{
    background: #B53706;
}
#section-snacks .dog .tabs-modal > div:last-child{
    background: #FF7A00;
}
#section-snacks .tabs-modal > div:first-child{
    border-radius: 2rem 0 0 0;
}
#section-snacks .tabs-modal > div:last-child{
    border-radius: 0 2rem 0 0;
}
#section-snacks .content-modal > div{
    height: 100%;
    padding: 3rem;
    border-radius: 0 0 2rem 2rem;
    display: none;
}
#section-snacks .content-modal > div.active{
    display: block;
}
#section-snacks .content-modal > div img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
#section-snacks .cat .content-modal > div{
    background: #262672;
}
#section-snacks .cat .content-modal > div:first-child{
    background: #272768;
}
#section-snacks .cat .content-modal > div:last-child{
    background: #3B3B93;
}

#section-snacks .dog .content-modal > div{
    background: #EA6603;
}
#section-snacks .dog .content-modal > div:first-child{
    background: #DD4B0A;
}
#section-snacks .dog .content-modal > div:last-child{
    background: #E26905;
}

#section-snacks .wrapper-modal h3{
    font-size: 4rem;
    text-align: center;
    color: #111037;
}
#section-snacks .product-list .content-modal{
    height: 44rem;
}

/* MODAL SNACKS*/

@media (max-width: 1540px) {
    html{
        font-size: 7.5px;
    }
    .select-pet-options .option-list li{
        width: 30rem;
    }
    section.pet-dogs .col, section.pet-cats .col{
        padding: 0 3rem;
    }
    .container{
        padding: 4rem 10rem;
    }
    .pet-tabs li,
    #section-dog-pequeno-adulto .pet-tabs li,
    #section-dog-adulto-grande .pet-tabs li,
    #section-dog-adulto-mayor .pet-tabs li{
        width: 14rem;
        margin: 0 1rem;
    }
    .pet-content{
        padding: 7rem;
    }
    .open-modal-snacks{
        height: 7rem;
        font-size: 3rem;
        line-height: 7rem;
    }
  }